
lectures/oop/~$p-gotcha-notes.docx
lectures/recursion/~$cursion-plan-2021.docx
lectures/recursion/~$cursion-plan.docx
syllabus/syllabus-142-s25.synctex.gz
lectures/intro/~$CS142Intro1Slides.pptx
*.tmp
